<h2>List des Mouvement blablabla </h2>

<div class="flex-container">

  <div class="text-white bg-warning">
    <h2>warning</h2>
  </div>
  <div class="text-white bg-info">
    <h2>info</h2>
  </div>
  <div class="text-white bg-primary">
    <h2>primary</h2>
  </div>
  <div class="text-white bg-secondary">
    <h2>secondary</h2>
  </div>
  <div class="text-white bg-danger">
    <h2>danger</h2>
  </div>
  <div class="text-white bg-dark">
    <h2>dark</h2>
  </div>

</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>category</th>
      <th>montant</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let mouvement of listMouvement">
      <td>{{mouvement.id}}</td>
      <td>{{mouvement.category}}</td>
      <td>{{mouvement.montant}}</td>
    </tr>
  </tbody>
</table>
